VITE_API_BASE_URL=http://localhost:8000
VITE_AUTH_CLIENT_ID=
VITE_AUTH_AUTHORITY=https://login.microsoftonline.com/common
VITE_AUTH_REDIRECT_URI=http://localhost:5173/
VITE_API_SCOPE=api://<api-client-id>/access_as_user
